In [2]:
import pandas as pd
from tqdm import tqdm

In [3]:
data=pd.read_excel('comment_lists1-300.xlsx')

In [4]:
data.head()

                             comment Unnamed: 1 Unnamed: 2
0  오히려 연습생이면 회사측에서 돈 받아야하는거 아니냐? ㅋㅋㅋ        NaN        NaN
1                  비디디는 왜 없노 이해가 안되네        NaN        NaN
2                  피넛이랑 덕담 켈린은 머 있노?        NaN        NaN
3                          안변했네 안심했다        NaN        NaN
4                          운타라 복귀하냐?        NaN        NaN

In [5]:
print(len(data['comment']))

995869

In [6]:
train_data=data['comment'].dropna(how='any')
print(train_data.isnull().values.any())

False

In [7]:
print(len(data['comment']))

995869

In [8]:
train_data.head()

0    오히려 연습생이면 회사측에서 돈 받아야하는거 아니냐? ㅋㅋㅋ
1                    비디디는 왜 없노 이해가 안되네
2                    피넛이랑 덕담 켈린은 머 있노?
3                            안변했네 안심했다
4                            운타라 복귀하냐?
Name: comment, dtype: object

In [9]:
train_data=train_data.str.replace("[^ㄱ-ㅎㅏ-ㅣ0-9가-힣]","",regex=True)

In [10]:
stopwords=['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다']

In [13]:
from eunjeon import Mecab
mecab=Mecab()
tokenized_data=train_data.apply(mecab.morphs)
tokenized_data=tokenized_data.apply(lambda x: [item for item in x if item not in stopwords])

In [15]:
tokenized_data[10000:100005]

10000     [혈소판, 헌혈, 하, 고, 지정, 해서, 보내, 달, 라고, 하, 면, 끝, 아직...
10001                           [버스, 포지션, 맞, 잖아도, 구년, 아, ㅉ]
10002                              [정도, 면, 그, 즙, 까, 건데, ㅋㅋ]
10003                       [쯤, 되, 면, 걍남자이새끼들문제인거맞는것같다ㄹㅇㅋㅋ]
10004     [나, 칸나, 오너, 너, 모건, 요한, 지만, 아무튼, 이긴, 건, 나, 랑께, ...
                                ...
100001                          [ㅈ, ㄴ, 썼, 노, ㅋㅋㅋ, ㅋㅋㅋ, ㅋㅋㅋ]
100002                             [팩, 트롤, 플, 딱, 지만, 제일, 함]
100003    [솔직히, 월즈, 에서, 워낙, 해서, 커리어, 이름값, 까지, 치, 면, 이럴, ...
100004                                           [즙, 갈, 평균]
100005    [고, 맘, 이미, 실력, 딸린, 거, 마음속, 으론, 알, 고, 있, 어서, 주전...
Name: comment, Length: 90005, dtype: object

In [10]:
import konlpy

okt=konlpy.tag.Okt()
tokenized_data=[]
for sentence in tqdm(train_data):
    tokenized_sentence=okt.morphs(sentence,stem=True)
    stopwords_removed_sentence=[word for word in tokenized_sentence if not word in stopwords]
    tokenized_data.append(stopwords_removed_sentence)

100%|██████████| 995850/995850 [6:13:11<00:00, 44.47it/s]

In [16]:
from gensim.models import FastText

In [17]:
model=FastText(sentences=tokenized_data,vector_size=100,workers=4,sg=1,epochs=6,word_ngrams=1)

In [24]:
model.wv.most_similar("지랄")

[('개지랄', 0.8453194499015808),
 ('염병', 0.8254085779190063),
 ('지랄병', 0.7773680090904236),
 ('지랄같', 0.7525980472564697),
 ('옘병', 0.6993916630744934),
 ('육갑', 0.6976412534713745),
 ('발광', 0.697300136089325),
 ('자위질', 0.6893656253814697),
 ('꼴값', 0.6889820694923401),
 ('오두방정', 0.6850218772888184)]

In [25]:
from gensim.test.utils import get_tmpfile

In [22]:
fname=get_tmpfile("fasttext_model")

In [23]:
model.save(fname)

In [26]:
model_fname='C:/Users/tpgus/fasttext_api/data/fasttext_mecab'

In [27]:
model.save(model_fname)

In [1]:

mecab.morphs("형태소 분리를 지원합니다")

['형태소', '분리', '를', '지원', '합니다']